[mcu Eddy]
canbus_uuid: b7ba25a8a35c

[temperature_sensor mcu_Eddy]
sensor_type: temperature_mcu
sensor_mcu: Eddy

[probe_eddy_current Eddy]
sensor_type: ldc1612
x_offset: 0.0
y_offset: 21.42
descend_z: 0.5
speed: 12
lift_speed: 12
#tap_z_offset: 0.0
#i2c_address:
i2c_mcu: Eddy  
i2c_bus: i2c0f 

[temperature_probe Eddy]
sensor_type: Generic 3950
sensor_pin: Eddy:gpio26

